[Unit]
Description=Platform9 in Docker - dockerd
ConditionPathExists=/usr/local/bin/docker
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/dockerd
PIDFile=/var/run/dockerd.pid

[Install]
WantedBy=multi-user.target
